<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
        </Console>
        <RollingFile name="Merchants" fileName="${sys:catalina.home}/logs/merchants.log"
                     filePattern="${sys:catalina.home}/logs/merchants_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="Logs" fileName="${sys:catalina.home}/logs/log.log"
            filePattern="${sys:catalina.home}/logs/log_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="merchant" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Merchants"/>
        </Logger>
        <logger name="org.quartz" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </logger>
        <logger name="org.bitcoinj" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </logger>
        <logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </logger>
        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="OFF" additivity="false">
            <appender-ref ref="Console" />
        </logger>
        <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="OFF" additivity="false">
            <appender-ref ref="Console" />
        </logger>
        <Logger name="me.exrates.controller.OnlineRestController" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </Logger>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </Root>
    </Loggers>
</Configuration>