<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
        </Console>
        <RollingFile name="Merchants" fileName="${sys:catalina.home}/logs/merchants.log"
                     filePattern="${sys:catalina.home}/logs/merchants_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="Merchants_edr" fileName="${sys:catalina.home}/logs/merchants_edr.log"
                     filePattern="${sys:catalina.home}/logs/merchants_edr_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="Logs" fileName="${sys:catalina.home}/logs/log.log"
            filePattern="${sys:catalina.home}/logs/log_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="OnlineServices" fileName="${sys:catalina.home}/logs/online.log"
                     filePattern="${sys:catalina.home}/logs/online_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="RestServices" fileName="${sys:catalina.home}/logs/rest.log"
                     filePattern="${sys:catalina.home}/logs/rest_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="PublicServices" fileName="${sys:catalina.home}/logs/public.log"
                     filePattern="${sys:catalina.home}/logs/public_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="SessionLog" fileName="${sys:catalina.home}/logs/session.log"
                     filePattern="${sys:catalina.home}/logs/session_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="MobileAPILog" fileName="${sys:catalina.home}/logs/mobile_api.log"
                     filePattern="${sys:catalina.home}/logs/mobile_api_%d_%i.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %level [%t] %C:%M:%L - %message%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="merchant" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Merchants"/>
        </Logger>
        <Logger name="merchant_edr" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Merchants_edr"/>
        </Logger>
        <logger name="org.quartz" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </logger>
        <logger name="org.bitcoinj" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </logger>
        <logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </logger>
        <logger name="org.springframework.security" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </logger>
        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="OFF" additivity="false">
            <appender-ref ref="Console" />
        </logger>
        <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="OFF" additivity="false">
            <appender-ref ref="Console" />
        </logger>
        <Logger name="me.exrates.controller.OnlineRestController" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OnlineServices"/>
        </Logger>
        <Logger name="me.exrates.controller.OrderControllerRest" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RestServices"/>
        </Logger>
        <Logger name="me.exrates.controller.PublicController" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="PublicServices"/>
        </Logger>
        <Logger name="me.exrates.controller.filter.RequestFilter" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SessionLog"/>
        </Logger>
        <Logger name="mobileAPI" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MobileAPILog"/>
        </Logger>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logs"/>
        </Root>
    </Loggers>
</Configuration>