<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="Merchant" fileName="${sys:catalina.home}/logs/merchants.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="Log" fileName="${sys:catalina.home}/logs/logs.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="me.exrates" level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Log"/>
        </Logger>
        <logger name="org.springframework.jdbc.core" level="ALL">
            <Appender-ref ref="Log"  />
        </logger>
        <logger name="org.springframework" level="ALL">
            <Appender-ref ref="Log"  />
        </logger>
        <Root level="error">
            <AppenderRef ref="Merchant"/>
        </Root>
    </Loggers>
</Configuration>