/******************************** 

	1. Navigation
	2. Exchange Data
	3. Exchange INFO
	4. BUY or SELL
	5. Table
	6. Table
	7. FOOTER
	8. MEDIA QUERIES
	9. Modal SignIn
	10. Login
	11. ORDERS NEW
	12. Transaction
	13. Output
	14. My Orders
	15. My Wallets

********************************/

html, body {
    width: 100%;
    height: 100%;

}

@font-face {
    font-family: calibri;
    src: url('../fonts/Calibri.ttf');
}

body {
    font-family: Calibri, 'Roboto', sans-serif;
    background: #6a1c0b;
    color: #ebeef7;
    background-image: url("../img/background.jpg");
    background-size: cover;
    /*background: radial-gradient(at top, #a44a1e,  #64180a);*/
}

/*Make footer stick to bottom*/
.container_footer_bottom {
    min-height: 100%;
    margin-top: -72px;
    padding-top: 72px;
    margin-bottom: -240px;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0;
        max-width: 95%
    }

}

/***********************************
			1. NAVIGATION
***********************************/
nav.navbar {
    width: 100%;
    background: rgba(255, 255, 255, .25);
}

nav.navbar ul li a {
    color: #fff;
}

nav.navbar ul li a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.nav > li > a:focus, .nav > li > a:hover {
    background-color: rgba(255, 255, 255, .1);
    outline: 0;
}

nav.navbar ul li:active a {
    background: rgba(255, 255, 255, .1);
}

nav.navbar a img {
    margin-top: -8px;
}

ul#languageUl.dropdown-menu {
    background: rgba(255, 255, 255, .25);
    min-width: 60px;
}

ul.nav {
    float: right;
}

ul.nav .margin-left {
    margin-left: 80px;
}

/***********************************
			2. Exchange Data
***********************************/

.exchange_data {
    background-color: rgba(255, 255, 255, .25);
    overflow: auto;
    padding: 10px;

}

.exchange_data ul {
    width: 20%;
    padding-left: 0;
    float: left;
}

.exchange_data ul li {
    line-height: 30px;
    list-style: none;
    margin: 4px 0;
    width: 100%;
}

.exchange_data ul li a {
    background: rgba(255, 255, 255, .25);
    color: #65180a;
    border: none;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    position: relative;
    text-decoration: none;
    max-width: 150px;
    display: block;
}

.exchange_data ul li.active a {
    background: #6b1d0c;
    color: #fff;
}

.exchange_data ul li a:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: rgba(255, 255, 255, .25);
    border-width: 15px;
    margin-top: -15px;
}

.exchange_data ul li:last-child {
    max-width: 150px;
}

.exchange_data ul li:last-child a:after {
    display: none;
}

.exchange_data ul li.active a:after {
    border-left-color: #6b1d0c;
}

.exchange_data ul li:last-child ul {
    width: 900px;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    z-index: 20;
    display: none;
}

.exchange_data ul li:last-child ul li {
    width: 140px;
    float: left;
    list-style: none;
    margin: 5px;
    background: rgba(255, 255, 255, .5);
}

.exchange_data ul li:last-child ul li a {
    display: block;
    width: 100%;
    margin-right: 5px;
}

#other_pairs a span {
    display: block;
    float: right;
    margin-top: 12px;

}

.exchange_data ul li a {
    color: #65180a;
    padding: 2px 10px;
}

.whiter {
    background: rgba(255, 255, 255, .5);
}

/****************************************
			3. Exchange INFO
****************************************/
.exchange_info {
    margin-top: 20px;
    background: rgba(255, 255, 255, .25);
    overflow: visible;
    padding: 15px 10px;
    min-height: 50px;
}

.exchange_info ul {
    padding-left: 0;
    overflow: auto;
    margin-bottom: 0;
}

.exchange_info ul li {
    list-style: none;
    float: left;
    margin: 8px 20px 0 20px;
}

.exchange_info ul li:first-child {
    margin-left: 0;
}

.exchange_info ul li.reveal {
    float: right;
}

.exchange_info ul li a {
    color: #fff;
    text-decoration: none;
}

div.exchange_info > ul > li.reveal {
    background-color: #7d3320;
    padding: 5px 12px;
    margin-top: 0px;
    width: 115px;
}

div.exchange_info > ul > li.reveal:after {
    margin-left: -105px;
    margin-top: -5px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #7d3320;
    border-width: 15px;
}

#curr-ency {
    min-width: 95px;
    width: 120px;
    padding: 5px;
    overflow: auto;
    margin-top: 20px;
    display: none;
    position: absolute;
    margin-left: -15px;
    background-color: rgba(255, 255, 255, .25);
    z-index: 10;
}

#curr-ency li {
    margin: 5px;
    padding: 10px;
    float: none;
    background-color: #7d3320;
    min-width: 100px;
}

#curr-ency li a {
    display: block;
}

.exchange_info .dropdown-menu li {
    margin-left: 0;
}

@media only screen and (max-width: 1200px) {
    .exchange_info ul li {
        margin: 8px 15px 0 15px;
    }
}

@media only screen and (max-width: 990px) {
    div.exchange_info > ul > li.reveal:after {
        margin-left: -119px;
    }
}

/****************************************
			4. BUY or SELL
****************************************/

.buy_sell {
    background-image: url("../img/logo_lines.png");
    margin-top: 20px;
    background-size: contain;
    min-height: 520px;
}

.add_margin {
    margin-top: 25px;
    margin-bottom: 25px;
}

.buy_sell span.col1,
.buy_sell span.col2 {
    display: block;
    float: left;
    margin: 5px 0;
}

.col1,
.buy_sell span.col1 {
    width: 40%;
    /*margin-right: 5%;*/
}

.col2,
.buy_sell span.col2 {
    width: 55%;
}

hr.display_at_small_width {
    display: none;
}

.buy_sell input {
    background: transparent;
    border: solid 1px #965a4a;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 0;
}

.buy_sell .sell input {
    text-align: right;
}

.buy_sell button.calculate {
    background-color: #93472a;
    border: none;
    width: 100%;
    margin-top: 10px;
}

.buy_sell button.buy {
    background-color: #6a1c0b;
    border: none;
    width: 100%;
    margin-top: 10px;
}

.buy_sell .big_logo {
    margin-top: 100px;
}

.sell {
    text-align: right;
}

.buy_sell .sell span.col1,
.buy_sell .sell span.col2 {
    float: right;
}

.margin-top-40 {

}

.margin_top {
    margin-top: -65px;
}

.align-right {
    text-align: right;
}

@media only screen and (max-width: 1200px) {
    .buy_sell {
        min-height: 420px;
    }

    .margin_top {
        margin-top: -50px;
    }

    .buy_sell h3 {
        margin-top: 10px;
    }
}

/****************************************
				6. Table
****************************************/

table {
    width: 100%;
}

.table1 {
    height: 218px;
    /*overflow: scroll;*/
}

table th {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 5px 10px;
}

table tr {
    border: solid 1px #9b5e4c;
}

table td {
    padding: 5px 10px;
    margin: 2px 0;
}

/****************************************
			7. FOOTER
****************************************/

footer {
    font-size: 0.8em;
    position: relative;
    padding: 20px;
}

footer span {
    color: #e0b18c;
}

footer .header {
    background-color: rgba(255, 255, 255, .1);
    padding: 5px 20px;
}

footer .options {
    background-color: rgba(255, 255, 255, .25);
    padding: 5px 20px;
    min-height: 110px;
}

footer .options ul {
    padding-left: 0;
}

footer .options ul li {
    list-style: none;
    line-height: 2em;
}

footer .options ul li a {
    color: #fff;
    text-decoration: none;
}

footer p {
    margin-left: 40px;
    margin-top: 30px;
}

/****************************************
			8. MEDIA QUERIES
****************************************/

@media only screen and (max-width: 990px) {
    .navbar-brand {
        max-width: 160px;
    }

    .navbar-brand img {
        max-width: 100%;
    }

    .nav > li > a {
        padding: 10px 8px;
    }

    .exchange_data ul {
        width: 15%;
        margin-right: 5%;
    }

    ul.nav .margin-left {
        margin-left: 0px;
    }

    .exchange_info {
        min-height: 45px;
    }

    .exchange_info ul {
        text-align: center;
    }

    .exchange_info ul li,
    div.exchange_info > ul > li.reveal {
        display: inline-block;
        float: none;
    }

    .buy_sell h3 {
        margin-top: 5px;
    }

    .buy_sell {
        min-height: 330px;
    }

    .add_margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .buy_sell input {
        margin: 5px 0;
    }

    .orders h3 {
        font-size: 1.6em;
    }

    footer .options {
        min-height: 152px;
    }

    .exchange_data ul li:last-child {
        width: 120px;
    }

    .exchange_data ul li:last-child ul {
        width: 600px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        min-width: 500px;
    }

    .buy_sell {
        background-image: none;
    }

    .buy_sell .col-sm-4 {
        max-width: 500px;
        margin: 0 auto;
    }

    hr.display_at_small_width {
        display: block;
    }

    .sell h3 {
        margin-top: 50px;
    }

    .margin_top {
        margin-top: 20px;
    }

    .orders .col-sm-4 {
        width: 45%;
        margin-right: 5%;
        float: left;
    }

    .orders .col-sm-4.align-right {
        float: right;
        margin-right: 0;
    }

    footer .col-sm-3 {
        max-width: 500px;
        margin: 5px auto;
    }

    .exchange_info ul li {
        line-height: 30px;
    }

    div.exchange_info > ul > li.reveal {
        margin-top: 0;
        line-height: 20px;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    ul.nav {
        float: none;
        text-align: center;
    }

    ul.nav ul {
        text-align: center;
    }
}

@media only screen and (max-width: 640px) {
    .exchange_data ul li:last-child ul {
        width: 450px;
    }
}

/****************************************
			9. Modal Sign In
****************************************/

#myModal {
    max-width: 320px;
    max-height: 380px;
    background-image: url("../img/background.jpg");
    background-size: cover;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 10px;
}

#myModal .modal-header {
    color: rgba(255, 255, 255, .5);
    border-bottom: solid 1px rgba(255, 255, 255, .25);
    padding: 5px 15px;
}

#myModal .modal-dialog {
    width: 100%;
    /*margin: 10px auto;*/
    margin: 10px auto 0 auto;
}

#myModal .content {
    max-width: 360px;
    background: none;
}

#myModal .modal-content {
    background: none;
    box-shadow: none;
    border: none;
}

#myModal .content form input {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    color: #621609;
    margin: 5px 0;
    padding: 0 10px;
    line-height: 2em;
    outline: 0;
}

::-webkit-input-placeholder {
    color: #621609;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #621609;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #621609;
}

:-ms-input-placeholder {
    color: #621609;
}

#myModal .content form button.button_enter,
#myModal .content form button.button_forgot {
    background-color: rgba(255, 255, 255, .5);
    color: #FFF;
    border: none;
    width: 47%;
    margin-right: 1.5%;
    line-height: 2em;
    outline: 0;
}

#myModal .button_forgot a {
    color: #ffffff;
    text-decoration: none;
}

#myModal .content form button.button_forgot {
    background-color: transparent;
    margin-left: 1.5%;
}

#myModal .content form button.button_forgot:hover {
    background-color: rgba(255, 255, 255, .1);
}

#myModal .content form button.button_enter:hover {
    color: #621609;
}

/****************************************
			10. Register
****************************************/

#register {
    min-width: 320px;
}

.register {
    margin-bottom: 50px;
}

.register hr {
    border-top: 1px solid #a4654f;
    position: relative;
    top: 45px;
    width: 100%;
    margin: 0;
}

.register h5 {
    font-size: 1.2em;
    display: block;
    border-bottom: 1px solid #fff;
    margin-bottom: 45px;
    padding-bottom: 15px;
}

.register form input {
    background: #ba9287;
    color: #621609;
    border: none;
    padding: 5px 15px;
    padding-right: 35px;
    width: 100%;
    margin: 8px 0;
    font-size: 1.2em;
    outline: 0;
}

.register form span.repass {
    color: #621609;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    z-index: 10;
    right: 15px;
    margin-top: -40px;
    display: none;
}

.register form span {
    margin-bottom: 15px;
    display: block;
}

.register form button {
    color: #fff;
    background: #65180a;
    border: none;
    outline: 0;
    padding: 10px 20px;
}

.register form button:disabled {
    color: #777;
}

@media only screen and (max-width: 990px) {
    .register hr {
        top: 62px;
    }
}

@media only screen and (max-width: 768px) {
    .register hr {
        display: none;
    }
}

/****************************************
			11. ORDERS NEW
****************************************/
.orders_new .side_menu ul {
    margin-top: 25px;
    margin-left: 0;
    padding-left: 0;
}

.orders_new .side_menu ul li {
    list-style: none;
    margin: 1px 0;
    display: block;
    width: 100%;
}

.orders_new .side_menu ul li a {
    display: block;
    background-color: rgba(255, 255, 255, .15);
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: thin;
}

.orders_new .side_menu ul li a:hover,
.orders_new .side_menu ul li a.active {
    background-color: rgba(255, 255, 255, .25);
}

.orders_new .content h4 {
    margin-top: 30px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding-bottom: 10px;

}

.orders_new .content hr {
    border-top: 1px solid #a4654f;
    position: relative;
    top: -11px;
    width: 100%;
    z-index: -1;
    margin: 0;
    margin-bottom: 25px;
}

.orders_new .content form > div {
    display: block;
}

.orders_new .content form {
    margin-bottom: 45px;
}

.orders_new .content form > div label {
    width: 14%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%
}

.orders_new .content form > div select,
.orders_new .content form > div input {
    width: 80%;
    /*max-width: 500px;*/
    height: 30px;
    color: #fff;
    margin: 5px 0;
    padding: 5px 10px;
    outline: 0;
    float: right;
}

.orders_new .content form > div select {
    background: #70210e;
    border: none;
    border-radius: 0;

    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /*-webkit-appearance: none;*/

}

.orders_new .content form > div input {
    border: solid 1px #a56650;
    background: transparent;
    color: #fff;
}

.orders_new .content form > div input::-webkit-input-placeholder {
    color: #fff;
}

.orders_new .content form > div input::-moz-placeholder {
    color: #fff;
}

/* Firefox 19+ */
.orders_new .content form > div input:-moz-placeholder {
    color: #fff;
}

/* Firefox 18- */
.orders_new .content form > div input:-ms-input-placeholder {
    color: #fff;
}

.orders_new .content form p {
    display: inline-block;
    margin-top: 20px;

}

.orders_new .content form p span.fee {
    margin-left: 15px;
}

.orders_new .content button {
    background: #74240f;
    border: none;
    padding: 5px 30px;
    outline: 0;
    margin: 15px auto;
    display: block;
    float: right;
}

/***************************************
			12. TRANSACTION
***************************************/
.orders_new.transaction .content hr {
    display: block;
}

.transaction table {
    margin-top: 0px;
    margin-bottom: 30px;
}

.transaction table tr {
    border-left: none;
    border-right: none;
}

.transaction table tr:first-child {
    border: none;
}

.transaction table tr:nth-child(2) {
    border-top: none;
}

.transaction table tr th {
    background: #70210d;
    border: none;
}

/***************************************
			13. OUTPUT
***************************************/
.output.orders_new .content {
    margin-bottom: 15px;
}

.output.orders_new .content form > div label {
    width: 20%;
    margin-right: 4%;
}

.output.orders_new .content form > div select,
.output.orders_new .content form > div input {
    width: 75%;
}

body#output {
    min-width: 320px;
}

.orders_new.output .content button {
    float: none;

}

@media only screen and (max-width: 400px) {
    .output.orders_new .content form > div label {
        display: block;
        width: 100%;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .output.orders_new .content form > div select,
    .output.orders_new .content form > div input {
        width: 100%;
    }
}

/***************************************
			14. MY ORDERS
***************************************/

.my_orders.orders_new .content {
    margin-top: 20px;
}

.my_orders.orders_new .content button {
    float: none;
    margin: 10px 0;
    background: #6c1e0c;
}

.my_orders.orders_new .content table span {
    float: right;
    margin-left: 5px;
}

.my_orders.orders_new .content table span:hover {
    cursor: pointer;
}

.my_orders.orders_new .content table td {
    padding: 12px 5px;
}

/***************************************
			15. ORDERS
***************************************/

.orders.my_orders.orders_new .content .buttons {
    margin-left: 20%;
    display: block;
    overflow: auto;
}

.orders.my_orders.orders_new .content .buttons button {
    float: left;
    margin: 10px 5%;
    margin-left: 0;
    width: 47.5%;
}

.orders.my_orders.orders_new .content .buttons button:nth-child(2) {
    /*background: #a0512e;*/
    margin-right: 0;
}

.orders.my_orders.orders_new .content .buttons button.active {
    background: #a0512e;
}

.orders.my_orders.orders_new .content form {
    max-width: 600px;
}

.orders.my_orders.orders_new .content table tr th {
    background: #9e604d;
    border: solid 1px #9e604d;
}

.orders.my_orders.orders_new .content table tr:nth-child(2) td {
    border-top: solid 1px #995c4c;
}

.orders.my_orders.orders_new .content table td {
    padding: 5px;
    border-top: double 3px #995c4c;
}

.orders.my_orders.orders_new .content table td:first-child {
    border-left: solid 1px #995c4c;

}

.orders.my_orders.orders_new .content table td:last-child {
    border-right: solid 1px #995c4c;
}

/***************************************
			15. My Wallets
***************************************/

.my_wallets .content > div > div.currency {
    display: block;
    background: rgba(255, 255, 255, .25);
    overflow: auto;
    padding: 5px 20px;
}

.my_wallets .content .block {
    overflow: auto;
    margin-bottom: 20px;
}

.my_wallets .content p.margin_top {

    display: inline-block;
    margin-top: 15px;
}

.my_wallets.my_orders.orders_new .content .buttons1 {
    float: right;
    margin-bottom: 15px;
}

.my_wallets.my_orders.orders_new .content .buttons1 button {
    float: left;
    margin: 10px;
    margin-left: 5px;
    width: auto;
}

.my_wallets.orders_new.transaction .content hr {
    margin: 15px 0 5px 0;
}

.my_wallets.orders_new.transaction .content hr {
    margin-bottom: 5px;
    margin-top: 15px;
}

@media only screen and (max-width: 990px) {
    .my_wallets.my_orders.orders_new .content .buttons1 button {
        padding: 5px 15px;
    }
}

/*дополнительные:*/

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.form-input-error-message {
    display: inline-block;
    margin-left: 20%;
}

.form {
    float: left;
    margin-bottom: 0 !important;
}

#currency.currency-for-output-select {
    width: 75%;
    display: block;
    margin-top: 0;
    position: relative;
    margin-left: 0;
    padding: 5px 10px;
    overflow: visible;
    background-color: rgba(112, 33, 14, 1);
    /*не переопределял из оригинального #currency*/
    min-width: 95px;
    z-index: 10;
}

.orders_new .content button.confirm-button {
    display: inline-block;
}

#myModal.merchant-input {
    max-width: 520px;
    max-height: 340px;
}

#myModal.merchant-output {
    max-width: 420px;
    max-height: 380px;
}

#myModal .modal-button {
    background: #74240f none repeat scroll 0 0;
    border: medium none;
    display: block;
    float: right;
    margin: 15px 0 15px 20px;
    outline: 0 none;
    padding: 5px 30px;
}

form#submitOrderForm.submit-order-form,
form#order.submit-order-form,
form#command.submit-order-form {
    display: inline-block;
    margin: 0 0 0 2%;
    width: 30%;
}

form#submitOrderForm.submit-order-form button,
form#order.submit-order-form button,
form#command.submit-order-form button {
    margin: 0 0 0 0;
    width: 100%;
}

.submit-order-button-container {
    width: 100%;
    margin: 50px 0 0 0;
}

.submit-order-label {
    width: 30%;
}

.submit-order-input {
    display: inline-block;
    width: 65%;
    border: solid 1px #a56650;
    background: transparent;
    color: #fff;
    height: 30px;
    line-height: 1.42857143;
    margin: 5px 0;
    padding: 5px 10px;
    outline: 0;
    font-size: 14px;

    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#myModal .content form a.button_forgot {
    float: right;
    background: rgba(255, 255, 255, .25);
    color: #65180a;
    border: none;
    line-height: 2em;
    height: 28px;
    width: 47%;
    text-decoration: none;
    max-width: 150px;
    text-align: center;
    margin-top: 10px;
}

#myModal .content form button.button_enter {
    margin-top: 10px;
    height: 28px;
}

#html .rc-anchor.rc-anchor-normal.rc-anchor-light {
    background-color: rgba(255, 255, 255, 0) !important;
}

.socials-icon-wrapper {
    position: relative;
    width: 100%;
    padding: 0 0 5px 0;
    border-bottom: 1px solid rgb(101, 24, 10);
    overflow: hidden;
}

.socials-icon-wrapper__icon {
    float: right;
    margin: 0 0 0 5px;
}

.form-login-error-message {
    display: inline-block;
    width: 100%;
    padding: 1px 5px 1px 5px;
}

/*.container.admin .side_menu ul {
    margin-left: 0;
    margin-top: 25px;
    padding-left: 0;
}

.container.admin .side_menu ul li{
    display: block;
    list-style: outside none none;
    margin: 1px 0;
    width: 100%;
}

.container.admin .side_menu ul li a {
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
}

.container.admin .side_menu ul li a:hover,
.container.admin .side_menu ul li a.active {
    background-color: rgba(255, 255, 255, 0.25);
}*/

.orders_new .content h4 {
    width: 100%;
}

.container.orders_new.admin .adminForm-toggler {
    float: none;
    display: inline-block;
    margin: 10px 5% 10px 0;
    width: 25%;
    background: #6c1e0c none repeat scroll 0 0;
    border: medium none;
    outline: 0 none;
    padding: 5px 30px;
}

.container.orders_new.admin .adminForm-toggler.active {
    background: #a0512e none repeat scroll 0 0;
}

/*#adminsTable.table.admins-table{
    width: 100%;
}*/

.table.admin-table th {
    background: #9e604d none repeat scroll 0 0;
    border: 1px solid #9e604d;
    padding: 5px 10px;
}

.table.admin-table tr {
    /*border-left: medium none;*/
    /*border-right: medium none;*/
    box-sizing: border-box;
    color: #621609;

}

/*.table.admin-table tr:nth-child(2) {
    border-top: 1px solid #995c4c;
}*/

.table.admin-table tr td {
    padding: 5px;

    border-bottom: 1px solid #621609;
    border-left: 1px solid #621609;
    margin: 2px;
}

.table.admin-table tr td:first-child {
    /*border-left: 1px solid #995c4c;*/
}

.dataTables_empty {
    /*display: none;*/
    visibility: hidden;
}

.container.orders_new.admin .content button {
    float: none;
    display: inline-block;
    background: #6c1e0c none repeat scroll 0 0;
    margin: 10px 0;
    width: 20%;
    text-align: center;
    padding: 5px 0;
}

.buy-form {
    float: left;
    width: 48%;
    margin: 0 4% 0 0;
}

.sell-form {
    float: right;
    width: 48%;
    margin: 0 0 0 0;
}

.buy-sell-form {
    float: left;
    width: 70%;
    margin: 0 0 0 0;
}

#createBuyOrderForm,
#createSellOrderForm {
    margin: 0 0 10px 0;
}

#submitOrderBuySellWrapper,
#editOrderBuySellWrapper,
#cancelOrderBuySellWrapper {
    display: inline-block;
    margin: 0 10px 0 0;
}

.formButtonWrapper {
    margin: -15px 0 15px 0;
}

#submitOrderBuy,
#submitOrderSell,
#editOrderBuySell,
#cancelOrderBuySell {
    margin: 0 0 0 0;
}

.input-block-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 5px 0;
}

.input-block-wrapper__label-wrapper,
.input-block-wrapper__input-wrapper,
.input-block-wrapper__error-wrapper {
    padding: 0 0 0 0;
    margin: 0 0;
}

.input-block-wrapper__input-wrapper {
    float: right;
    border: solid 1px #a56650;
    background: transparent;
}

.input-block-wrapper__error-wrapper {
    float: right;
    border-bottom: solid 1px #a56650;
    background: transparent;
    color: red;
}

.input-block-wrapper .input-block-wrapper__label-wrapper .input-block-wrapper__label {
    margin: 0 0;
    width: 100%;
    line-height: 30px;
}

.input-block-wrapper .input-block-wrapper__input-wrapper .input-block-wrapper__input {
    float: left;
    display: inline-block;
    max-width: 80%;
    margin: 0 0;
    /*height: 30px;*/
    padding: 5px;
    border: none;
    color: #fff;
}

.input-block-wrapper .input-block-wrapper__input-wrapper .input-block-wrapper__input:nth-child(2) {
    border-top: 1px solid #a56650;
    width: 100%;
}

.input-block-wrapper .input-block-wrapper__input-wrapper .input-block-wrapper__input[readonly] {
    background: rgba(255, 255, 255, 0.1);
}

.input-block-wrapper__inner-label {
    float: right;
    line-height: 30px;
    margin: 0 5px 0 0;
}

#admin-add-button {
    float: right;
    font-size: 14px;
    border-radius: 4px;
}

/*Enter FinPassword Modal*/

#finPassModal {
    max-width: 320px;
    max-height: 225px;
    background-image: url("../img/background.jpg");
    background-size: cover;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 10px;
}

#finPassModal .modal-header {
    color: rgba(255, 255, 255, .5);
    border-bottom: solid 1px rgba(255, 255, 255, .25);
    padding: 5px 15px;
}

#finPassModal .modal-dialog {
    width: 100%;
    /*margin: 10px auto;*/
    margin: 10px auto 0 auto;
}

#finPassModal .content {
    max-width: 360px;
    background: none;
}

#finPassModal .modal-content {
    background: none;
    box-shadow: none;
    border: none;
}

#finPassModal .content form input {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    color: #621609;
    margin: 5px 0;
    padding: 0 10px;
    line-height: 2em;
    outline: 0;
}

::-webkit-input-placeholder {
    color: #621609;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #621609;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #621609;
}

:-ms-input-placeholder {
    color: #621609;
}

#finPassModal .content form button.button_enter,
#finPassModal .content form button.button_forgot {
    background-color: rgba(255, 255, 255, .5);
    color: #FFF;
    border: none;
    width: 47%;
    margin-right: 1.5%;
    line-height: 2em;
    outline: 0;
}

#finPassModal .button_forgot a {
    color: #ffffff;
    text-decoration: none;
}

#finPassModal .content form button.button_forgot {
    background-color: transparent;
    margin-left: 1.5%;
}

#finPassModal .content form button.button_forgot:hover {
    background-color: rgba(255, 255, 255, .1);
}

#finPassModal .content form button.button_enter:hover {
    color: #621609;
}

#finPassModal .content form a.button_forgot {
    float: right;
    background: rgba(255, 255, 255, .25);
    color: #65180a;
    border: none;
    line-height: 2em;
    height: 28px;
    width: 47%;
    text-decoration: none;
    max-width: 150px;
    text-align: center;

}

.exchange_info {
    position: relative;
}

#pair-selector {
    background-color: #7d3320;
    margin: 0;
    width: 10%;
    float: right;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#pair-selector div {
    display: inline-block;
    margin: 0 0 0 0;
}

#pair-selector span {
    margin: 0 0 0 15px;
}

#pair-selector-arrow {
    margin-right: -15px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none;
    border-right-color: #7d3320;
    border-width: 15px;
    float: right;
}

#pair-selector .pair-selector__menu {
    width: 30%;
    margin: 3px 0 0 -20%;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    z-index: 20;
    display: none;
    padding-left: 0;
    float: right;
    line-height: 30px;
    border-radius: 4px;
}

#pair-selector .pair-selector__menu-item {
    width: 20%;
    float: left;
    margin: 5px 2.5%;
    background: rgba(255, 255, 255, .8);
    text-align: center;
    cursor: pointer;
}

#pair-selector .pair-selector__menu-item {
    color: #6b1d0c;
}

#pair-selector .pair-selector__menu-item.active {
    background: #6b1d0c;
    color: white;
}

.paymentInfo {
    font-size: 1.3em;
}

.modal-merchant {
    text-decoration: underline;
}

.order-noty {
    cursor: pointer;
    background: #84240f;
    text-align: center;
}

a.button_delete_order {
    background-color: rgba(229, 7, 22, 0.3);
    color: #FFF;
    border: none;
    width: 47%;
    padding: 3px 15px;
    line-height: 2em;
    outline: 0;
    text-decoration: none;
}

td.allign-center,
th.allign-center {
    text-align: center;
}

.graphic-wrapper{
    float: left;
    width: 80%;
}

.exchange_data .graphic {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.candle-description {
    width: 100%;
    color: #fca791;
}

.candle-description__item {
    display: inline-block;
    font-size: 12px;
    margin: 0 10px 0 0;
    width: 10%
}

.candle-description__item span{
    font-weight: bold;
    color: white;
}

.candle-description__item#candle-date {
    text-align: right;
    width: 40%;
    margin: 0 0 0 0;
}

.candle-description__item#candle-date .date{
    font-size: 14px;
}

.area-chart-tip {
    color: #84240f;
    background: rgba(132, 36, 15, 0.3);
    /*background: rgba(255, 255, 255, 0.7);*/
    height: 100%;
    padding: 0 10px;
}

.candle-chart-tip-wrapper{
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.cross-close {
    position: absolute;
    top: -7px;
    right: -7px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: 14px;
    border-radius: 100%;
    line-height: 13px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    background: rgba(132, 36, 15, 0.7);
    cursor: pointer;
}

.area-chart-tip span {
    font-weight: bold;
}

.area-chart-tip__date {
    white-space: nowrap;
}

.area-chart-tip__rate {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
}

.area-chart-tip__candle {
    margin: 0 0 0 20px;
    font-size: 12px;
}

.area-chart-tip .area-chart-tip__candle span {
    display: inline-block;
    width: 35px;
}

.period-menu {
    margin: 0 0 0 40px;
}

.period-menu__item {
    display: inline-block;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    cursor: pointer;
}

.period-menu__item:hover {
    border: 1px solid #84240f;
}

.period-menu__item.active {
    border: 1px solid white;
}

.info-item {
    display: inline-block;
    color: white;
}

.info-item-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.next_item {
    margin-left: 20px;
}

.simple-button {
    float: right;
    margin: 10px 0 0 0;
    background: #6c1e0c;
    padding: 5px 30px;
    outline: 0;
    border: none;
    display: block;
    cursor: pointer;
}

