html,
body {
    width: 100%;
    background: #e2ebf9;
    color: #525f74;
    min-width: 990px;
    font-size: 11px;
}

.row_big {
    min-width: 1200px;
}

.container {
    position: relative;
    width: 100%;
    /*min-width: 1200px;*/
}

.cols-md-1 {
    width: 8.33333%;
    float: left;
}

.cols-md-2 {
    width: 16.66667%;
    float: left;
    /* padding: 0 10px; *//*height the top menu  me*/
}

.cols-md-3 {
    width: 25%;
    float: left;
}

.cols-md-4 {
    width: 33.33333%;
    float: left;
    padding: 5px;
}

.cols-md-5 {
    width: 41.66667%;
    float: left;
}

.cols-md-6 {
    width: 50%;
    float: left;
}

.cols-md-7 {
    width: 58.33333%;
    float: left;
}

.cols-md-8 {
    width: 66.66667%;
    float: left;
    padding: 0 10px; /*height the top menu   me*/
}

.cols-md-9 {
    width: 75%;
    float: left;
}

.cols-md-10 {
    width: 83.33333%;
    float: left;
}

.cols-md-11 {
    width: 91.66667%;
    float: left;
}

.cols-md-12 {
    width: 100%;
    float: left;
}

.row {
    margin: 0;
}

a:focus {
    text-decoration: none;
}

.invisible {
    display: none;
}

/********************************
			HEADER
********************************/

header {
    background: #525f74;
    min-width: 1220px;
}

header li {
    list-style: none;
    float: left;
}

.nav__link {
    color: #fff;
}

.nav__link:hover {
    text-decoration: none;
    color: #fff;
}

.logo {
    float: left;
    margin-left: -10px;
    padding: 7px 0; /*depends from top menu height  me*/
    /*margin-top: 10px; me*/
}

.paddingtop10 {
    padding-top: 10px;
}

.open-li.open {
    background-color: #434e60;
}

.dropdown-menu {
    background-color: #434e60;
    padding: 10px 15px;
    border-radius: 0;
    margin: 0;
    position: absolute;
    left: -153px;
    min-width: 150px;
    margin-top: 9px;
}

/*me*/
.dropdown-menu__logout-form {
    float: none;
    position: relative;
    margin: 0;
}

.form_input {
    width: 250px;
    margin: 5px 0;
    height: 35px;
    padding: 5px 15px;
}

.choose-language {
    min-width: 50px;
    color: white;
    width: 60px;
    left: 0;
    background-color: #525f74;
    padding: 0;
    border: none;
    margin-top: 20px;
}

.language {
    color: #fff;
    display: block;
    padding: 10px;
}

.dropdown-menu > li > a {
    color: #fff;
    padding: 5px 20px;
}

.nav__link {
    padding: 10px 15px;
    line-height: 1.8rem;
}

.focus-white:focus {
    color: #fff;
}

.focus-white:hover {
    color: #c9d8f5;
}

.dropdown-toggle:active, .open .dropdown-toggle {background:#525f74 !important; color:#fff !important;}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #525f74;
    color: #c9d8f5;
}

.padding0 {
    padding: 0;
}

.login_button {
    background-color: #b9c4d8;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 0px;
    border: 1px solid #fff;
}

.login_button:disabled{
    color: #fff;
    border: 1px solid #b9c4d8;
}

.inline-block {
    display: inline-block;
    margin-right: 10px;
}

.margin-left20 {
    margin-left: 20px;
}

.register {
    display: block;
    width: 100%;
    background-color: #2c3749;
    color: white;
    text-align: center;
    border: none;
    margin: 10px 0 0 -15px;
    padding: 15px;
    position: absolute;
}

.open-language {

}

.red {
    color: #dd5b5b;
}

.green {
    color: #63a20a;
}

.black {
    color: #616161;
}

.white {
    color: #fff;
}

.forgot-password--largeform{
    font-size: 1.3rem;
    text-align: right;
    display: inline-block;
    margin: 5px 0 0 0;
    width: 80% ;
}

.forgot-password:hover,
.forgot-password:focus {
    color: #337ab7;
    text-decoration: underline;
}

.background_white {
    background-color: #fff;
}

.lightblue {
    color: #969faf;
}
.darkblue {
    color: #525f74;
}

/***********************************
			LEFT SIDEBAR (me)
************************************/

.h4_green {
    font-weight: 300;
    color: #63a20a;
    border-bottom: solid 1px #63a20a;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 8px;
}

.under_h4 {
    margin: 0;
    margin-top: -1px;
    border-top: 1px solid #b0bccf;
}

.under_h4_margin {
    margin: 0;
    margin-bottom: 15px;
    margin-top: -1px;
    border-top: 1px solid #b0bccf;
}

.table {
    width: 100%;
}

.table tr:last-child td {
    border-bottom: 1px solid #b0bccf;

}

.table, th, td {
    font-weight: 300;
    font-size: 1.1rem;
}

.left-sider .table {
    font-weight: 300;
    font-size: 1.2rem;
}

.pay_addr {
    font-size: 1.06em;
}

#right-sider {
    padding-left: 10px;
}

@media (max-width: 1400px) {

    #currency_table th, #currency_table td {
        font-size: 0.95rem;

    }

    .currency_table th:nth-child(2),
    .currency_table tr td:nth-child(2) {
        width: 50px;
    }

    .dashboard-order__table td {
        font-size: 1.0rem;
    }
    .nav__link {
        font-size: 1.1rem;
    }

    #notification-icon .glyphicon {
        font-size: 1.5rem;
    }
    #notification-icon span.badge {
        font-size: 0.7rem;
    }

    #balance-grid button, #balance-grid th, #balance-grid td {
        font-size: 0.85rem;
    }

    .blue_area {
        width: 35%;
    }

    .dark_blue_area {
        width: 20%;
    }

    .buyBTC__input {
        width: 35%;
    }

    input.item_input,
    .item__input {
        width: 35%;
    }


}

@media (min-width: 1400px) {
    #currency_table th, #currency_table td {
        font-size: 1.2rem;
    }
    .dashboard-order__table td {
        font-size: 1.1rem;
    }
    .nav__link {
        font-size: 1.3rem;
    }

    #notification-icon .glyphicon {
        font-size: 1.8rem;
    }
    #notification-icon span.badge {
        font-size: 0.7rem;
    }
    #balance-grid button, #balance-grid th, #balance-grid td {
        font-size: 1.1rem;
    }
    .blue_area {
        width: 40%;
    }

    .dark_blue_area {
        width: 15%;
    }

    .buyBTC__input {
        width: 40%;
    }

    input.item_input,
    .item__input {
        width: 40%;
    }

}

#currency_table th, #currency_table td {
    padding: 5px;

}


th, td {
    padding: 5px 0;
    border-bottom: solid 1px #fff;
}

/*my*/
.mywallets_table td:first-child,
.currency_table td:first-child {
    width: 100%;
}

.mywallets_table td:first-child span {
    font-size: 0.9rem;
}

.mywallets_table td:nth-child(2) {
    vertical-align: middle;
}
.mywallets_table td:last-child {
    vertical-align: middle;
}

.currency_table td:first-child {
    cursor: pointer;
}

.currency_table th:first-child,
.currency_table tr td:first-child {
    width: 90px;
}

/*my*/
.mywallets_table th:last-child,
.mywallets_table th:nth-child(2),
.currency_table th:nth-child(2),
.currency_table th:last-child {
    text-align: center;
}

.currency_table th:nth-child(2),
.currency_table tr td:nth-child(2) {
    width: 122px;
}

#mywallets_table_wrapper {
    height: 500px;
    overflow: hidden;
    display: block;
}


#currency_table_wrapper {
    height: 310px;
    overflow: hidden;
    display: block;
}

.currency_table {
    margin-bottom: 0px;
    /*    height: 310px;
        overflow: hidden;
        display: block;*/
}

.settings-menu-item {
    float: right;
}

.total_usd_child
{
    display: inline-block;
    width: 45%;
    font-weight: 300;
    color: #63a20a;

}
/**********************************
			Main Content
***********************************/

.ht {
    width: 50%;
    font-size: 1rem;
    float: left;
    text-align: center;
    background-color: #eff2f8;
    color: #525f74;
    padding: 8px 0;
}

.ht.ht-active {
    background-color: #969faf;
    color: #fff;
}

.ht__theader, .ht__theader > th {
    background-color: #e2ebf9;
    color: #525f74;
    /*text-align: center; me */
}

.table_middle {
    width: 100%;
    text-align: center;
    /*    display: block;
        max-height: 360px;
        overflow-y: hidden;*/
}

.table_middle tbody {
    display: table;
    width: 100%;
}

.table_middle .data-tr {
    border-bottom: solid 1px #dee3eb;
}

.graphInfo {
    margin: 5px 0;
}

.graphInfo__item {
    display: inline-block;
    margin-right: 13px;
    font-size: 1rem;
}

.buyBTC {
    background-color: #eff2f8;
    padding: 8px;
    font-size: 1rem;
    font-weight: 300;
}

.buyBTC__item {
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
    overflow: hidden;
    margin: 4px 0;
}

.item__span {
    display: inline-block;
    width: 43%;
    margin-top: 3px;
}

input.item_input,
.item__input {
    float: right;
    box-sizing: border-box;
    padding: 3px;
}

.buyBTC__input {
    float: right;
    box-sizing: border-box;
    padding: 3px;
}


.blue_area {
    background-color: #d2dae7;
    padding: 5px;
    color: #525f74;
    text-align: left;
    float: right;
}

.white_right {
    color: white;
    float: right;
}

.em-08 {
    font-size: 1rem;
    margin: 8px 0;
}

.margin-right {
    margin-right: 10px;
}

.lightblue .green, .lightblue .red, .lightblue .black {
    margin: 6px;
}

.marginTop-10 {
    margin-top: 10px;
    display: block;
}

.marginTop-15 {
    margin-top: 15px;
    display: block;
}

.marginTop-25 {
    margin-top: 25px;
    display: block;
}

.table_middle2 {
    max-height: 160px;
}

/********************************
			RIGHT SIDEBAR
*********************************/
.nickname,
.news_title,
.notification-title {
    color: #525f74;
    margin: 10px 0 0;
    font-weight: 700;
}

.message {
    color: #525f74;
    font-weight: 300;
}

.chat,
#news_table_wrapper {
    display: block;
    height: 270px;
    overflow-y: hidden;
    overflow-x: hidden;
}


.chat {
    width: 100%;
}

.message_text {
    width: 100%;
    border: none;
    padding: 5px 10px;
    font-weight: 300;
    margin: 10px 0 0 0;
}

.send_button {
    width: 100%;
    font-weight: 300;
    color: #fff;
    background-color: #5c6a80;
    border: none;
    margin: 5px 0;
    padding: 5px;

}

/******************************
		BALANCE.html
*******************************/
.balance .h4_green {
    border-bottom: none;
}

.balance__table {
    width: 100%;
}

.balance__table td {
    border-bottom: solid 2px #fff;
    /*text-align: center; me */
    background-color: #ecf1f8;
}

tr.active td {
    background-color: #e2ebf9;
}

.active .blue-white,
.blue-white,
td.blue-white {
    background-color: #969fb0;
    color: #fff;
    padding: 8px;
    text-align: center;
}

.balance .btn {
    margin: 0 1px;
    font-size: 1rem;
}

/**********************************
				ORDER
**********************************/


.blue-box,
.red-box,
.green-box,
.yellow-box {
    background-color: #5c6a80;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 15px;
    width: 175px;
    text-align: center;
    margin-right: 20px;
    border: none; /*me*/
}

.order .dropdown-menu {
    left: 0;
}

.order .blue-box {
    margin-bottom: 0;
    border: none;
    margin: 10px 0 5px;
}

.order .dropdown-menu {
    border: none;
    background-color: #5c6a80;
    width: 175px;
}

.balance__table__order {
    margin-top: 15px;
}

/**********************************
				HISTORY
**********************************/

.red-box {
    background-color: #c65857;
}

.yellow-box {
    background-color: #e0d560;
}

.green-box {
    background-color: #79a047;
}

.margin-box,
.blue-box.margin-box {
    margin: 10px 10px 5px 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.history .dropdown {
    display: inline-block;
}

/*********************************
			SUPPORT
**********************************/

.active-box {
    background-color: #79a047;
}

.wider {
    width: 220px;
    font-size: 1rem;
}

.hr_green {
    border-top: solid 1px #79a047;
    margin: 0;
    margin-top: -5px;
}

#instructions a {
    color: #525f74;
    text-decoration: none;
    font-weight: 700;
}

#instructions a:hover,
#instructions a:visited,
#feedback a:hover,
#feedback a:visited {
    color: #79a047;
    text-decoration: none;
}

.margin-top-20 {
    margin-top: 20px;
}

.instruction-list {
    padding-left: 0;
}

.instruction-list li {
    line-height: 2rem;
    list-style: none
}

.instruction-list .fa {
    margin-right: 10px;
}

#useful-info,
#feedback {
    display: none;
}

.news-block a {
    color: #525f74;
}

.news-block a:hover {
    color: #79a047;
    text-decoration: none;
}

.cols-md-8 {
    /*max-height: 700px; me */
    display: block;
}

.instructions_button,
.useful_info_button,
.feedback_button {
    cursor: pointer;
}

.feedback_info {
    width: 40%;
    float: left;
}

.feedback_form {
    width: 55%;
    float: right;
}

.feedback_form input,
.feedback_form select {
    width: 100%;
    border: solid 1px #969fb0;
    margin: 10px 0;
    padding: 5px 20px;
    border-radius: 0;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);

}

.blue-box2 {
    background-color: #969fb0;
    border-radius: 0;
}

.textarea {
    width: 100%;
    height: 100px;
}

.label1 {
    float: right;
    margin-top: 15px;
    margin-right: 50px;
    font-weight: 300;
}

.borderless {
    border: none;
    margin-right: 0;
    margin-top: 5px;
}

/********************************
			GENERAL (me)
********************************/

.right {
    text-align: right !important;
    padding-right: 5px;
}

.center,
.center.blue-white {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

.left {
    text-align: left !important;
    padding-left: 5px;
}

.bold{
    font-weight: bold !important;
}

.normal{
    font-weight: normal !important;
}

.col-0 {
    width: 0;
    max-width: 0;
}

.col-1 {
    width: 5%;
    max-width: 5%;
}

.col-06 {
    width: 6%;
    max-width: 6%;
}

.col-08 {
    width: 8%;
    max-width: 8%;
}

.col-2 {
    width: 10%;
    max-width: 10%;
}

.col-13 {
    width: 13%;
    max-width: 13%;
}

.col-3 {
    width: 15%;
    max-width: 15%;
}

.col-17 {
    width: 17%;
    max-width: 17%;
}

.col-4 {
    width: 20%;
    max-width: 20%;
}

/********************************
			LEFT-SIDER (me)
********************************/
.refferal__reference {
    font-size: 11px;
    height: 13px;
    font-weight: 400;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
}

.refferal__reference:hover{
    position: absolute;
    min-width: 300px;
}

.refferal__reference:hover ~ .refferal__button-wrapper #refferal-copy{
    color: #ffff00;
}

.refferal__reference:hover ~ .refferal__button-wrapper{
    margin: 23px 0 0 0;
}

.refferal__button {
    display: inline-block;
    width: 47%;
    font-weight: 300;
    color: #fff;
    background-color: #5c6a80;
    border: none;
    margin: 5px 0;
    padding: 5px;
    outline: none;
}

.refferal__button:first-child {
    margin-right: 4%;
}

/********************************
			HEADER (me)
********************************/
.header {
    font-size: 1.3rem;
}

#hello-my-friend {
    float: right;
}

#hello-my-friend a,
#adminka-entry a {
    color: #d9dbff;
}


.nav.header__nav .nav__link {
    padding: 10px 10px;
}
.right_header_nav .nav__link {
    padding: 10px 10px;
}

.dropdown-menu__logout-form .logout-button {
    background: transparent;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
}

/********************************
			CURRENCY PAIR SELECTOR (me)
********************************/
.currency-pair-selector__button {
    border: none;
    margin: 5px 0 5px;
    width: 150px;
}

.currency-pair-selector__menu {
    left: 0;
    right: 0;
    border: none;
    text-align: center;
}

.currency-pair-selector {
    float: right;
}

/********************************
			DASHBOARD (me)
********************************/

.graphInfo__wrapper {
    position: relative;
}

.dashboard-sell-buy__form {
    margin: 0;
}

.dashboard-order__tr {
    cursor: pointer;
}
.dashboard-order__tr td {
    padding: 5px;
}

.dashboard-order__tr:hover {
    background: #d2dae7;
}

.dashboard-sell-buy__button {
    width: 100%;
    background: #969faf;
    color: white;
    border: none;
    padding: 5px;
}

.dashboard-stop-sell-buy__button {
    width: 49%;
    background: #969faf;
    color: white;
    border: none;
    padding: 5px;
}

.dashboard-accept__button {
    color: #ffff00;
    width: 85%;
}

.dashboard-accept-reset__button {
    width: 12%;
    float: right;
    border-radius: 5px;
}

.deals-scope-switcher__button {
    cursor: pointer;
}

/********************************
			GOOGLE GRAPHICS (me)
********************************/

.graphics {

}

.graphic-wrapper {
    float: left;
    width: 100%;
    min-height: 238px;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #616161;
}

.graphic-wrapper--orders-page {
    float: left;
    width: 100%;
}

#graphic-wait {
    position: absolute;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: -10px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.graphic {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.graphic-canvas {
    min-height: 190px;
}

.candle-description {
    width: 100%;
    color: #525F74;
}

.candle-description__item {
    display: inline-block;
    line-height: 1.2rem;
    font-size: 1rem;
    margin: 0 5px 0 0;
    min-width: 11%
}

.candle-description__item span {
    font-size: 1rem;
    font-weight: bold;
    color: #525F74;
}

.candle-description__item#candle-date {
    float: right;
    font-size: 1rem;
    margin: 0 30px 0 0;
}

.candle-description__item#candle-date .date {
    font-size: 1.1rem;
}

.area-chart-tip {
    color: black;
    background: rgba(188, 199, 219, 0.40);
    height: 100%;
    padding: 0 10px;
    white-space: nowrap;
    border: 1px solid #6F819D;
}

.candle-chart-tip-wrapper {
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.cross-close {
    position: absolute;
    top: -7px;
    right: -7px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: 14px;
    border-radius: 100%;
    line-height: 13px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    background: rgb(150, 159, 175);
    cursor: pointer;
}

.area-chart-tip span {
    font-weight: bold;
}

.area-chart-tip__date {
    white-space: nowrap;
    font-size: 1.1rem;
}

.area-chart-tip__rate {
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.area-chart-tip__candle {
    margin: 0 0 0 20px;
    font-size: 1.1rem;
}

.area-chart-tip__stock {
    text-align: left;
    margin: 0 0 0 0;
    font-size: 1.1rem;
}

.area-chart-tip .area-chart-tip__candle span {
    display: inline-block;
    width: 35px;
}

.period-menu {
    float: left;
    margin: 0 0 0 50px;
}

.chart-type-menu {
    float: right;
    margin: 0 30px 0 0;
}

.period-menu__item,
.chart-type-menu__item {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.period-menu__item:hover,
.period-menu__item.active:hover,
.chart-type-menu__item:hover,
.chart-type-menu__item.active:hover {
    border: 1px solid rgb(150, 159, 175);
}

.period-menu__item.active,
.chart-type-menu__item.active {
    border: 1px solid white;
    background-color: rgb(239, 242, 248);
}

/********************************
			FOR ALL TABLES (me)
********************************/
.balance__table {
    margin: 5px 0;
}

#trading button,
#myhistory button,
#myorders button,
#orders button,
#mywallets button,
#passwords-changing button {
    font-size: 1.25rem;
}

/********************************
			MYWALLETS and OTHERS (me)
********************************/
.table-button-block {
    text-align: center;
}

.table-button-block a {
    text-decoration: none;
    color: white;
}

.table-button-block--balance {
    min-width: 260px;
}

/*.table-button-block .table-button-block__button {
    padding: 0 10px;
}*/

.butto-block {
    padding: 0 10px;
}

.table-button-block__form {
    display: inline-block;
    margin: 0;
}

.on-confirmation-detail {
    display: inline-block;
    cursor: pointer;
    padding: 0 0 0 5px;
}

.mywallet-detail-tooltip {
    font-size: 1.1rem;
    line-height: 2rem;
    padding: 10px;
    border: 1px solid #969FAF;
    background-color: rgba(255, 255, 255, 0.4);
    /*background-color: rgba(239, 242, 248, 0.7);*/
}

/********************************
			NYHISTORY (me)
********************************/
.myhistory__button-wrapper {
    background: #969faf;
    margin: 5px 0 15px 0;
}

.myhistory__button {
    background: #969faf;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    font-weight: 300;
    width: inherit;
    text-align: center;
    border: none;
    margin: 0;
    opacity: 0.6;
    outline: none;
}

.myhistory__button.active {
    opacity: 1;
}

/********************************
			MYORDERS (me)
********************************/

.myorders__button {
    opacity: 0.4;
    outline: none;
}

.myorders__button.active {
    opacity: 1;
}

/********************************
			ORDERS (me)
********************************/
/********************************
            MODAL (me)
********************************/
.modal-form-dialog .modal-header {
    background: #969faf;
    color: white;
    font-size: 1.4rem;
}

#order-create-confirm__modal .modal-content {
    width: 480px;
}

.input-block-wrapper {
    margin: 10px 0 0 0;
}

.input-block-wrapper__input-wrapper {
    overflow: hidden;
    height: 3rem;
}

.input-block-wrapper__label-wrapper {
    line-height: 3rem;
    font-size: 1.1rem;
}

.input-block-wrapper__label {
    margin: 0;
}

.input-block-wrapper__input {
    line-height: 3rem;
    height: 3rem;
    font-size: 1.4rem;
}

.input-block-wrapper__radio {
    padding: 0 10px 0 0;
}

.input-block-wrapper__error-wrapper {
    text-align: left;
    color: rgba(232, 0, 0, 0.93);
    overflow: hidden;
    margin: 0;
    line-height: 20px;
    font-size: 1rem;
    padding: 0 15px 0 0;
}

.input-block-wrapper__error-wrapper_forgot {
    text-align: left;
    color: rgba(232, 0, 0, 0.93);
    overflow: hidden;
    margin: 0;
    line-height: 20px;
    font-size: 1rem;
    /*padding: 0 15px 0 0;*/
    padding: 0px 0 15px 15px;
}

.modal-form-dialog
.modal-footer button,
.confirm-button,
#surveyContainer .panel-footer input {
    background: #969faf;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    font-weight: 300;
    font-size: 1.4rem;
    width: 175px;
    text-align: center;
    border: none;
    margin: 0;
    height: 30px;
    outline: none;
}

.confirm-button-wrapper {
    margin: 10px 0;
}

.modal-form-dialog #uploadFile.file-choice__input {
    color: #969faf;
    font-weight: 300;
    font-size: 1.4rem;
}

#orders-history-table {
    /*transition: background-color 500ms;*/
}

#orders-buy-table-wrapper, #orders-sell-table-wrapper, #orders-history-table-wrapper {
    display: block;
    max-height: 360px;
    overflow-y: hidden;
}

table tbody .blink,
.blink {
    background: rgba(255, 0, 0, 0.1);
}

.blink_green {
    background: rgba(0, 128, 0, 0.20) !important;
}

/********************************
			LOGIN (me)
********************************/
.login__container {
    margin: 0 0 0 5%;
}

.login__error {
    color: rgba(221, 0, 0, 0.69);
    font-size: 1.2rem;
    padding: 0 0 0 15px;
}

.login__captcha-wrapper {
    margin: 15px;
}

.login__captcha--recaptcha {
    float: right;
    padding: 0 15px 0 0;
}

.login__captcha--botdetect {
    padding: 15px 0 15px 15px;
}

.login__button {
    background: #969faf;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    font-weight: 300;
    font-size: 1.4rem;
    /*width: 175px;*/
    width: 100%;
    text-align: center;
    border: none;
    /*margin: 0 15px;*/
    height: 30px;
    outline: none;
}

form span.repass,  form span.repass-error{
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    z-index: 10;
    right: 15px;
    /*margin-top: -40px;*/
    display: none;
}

/********************************
			FOOTER (me)
********************************/

.socials-icon-wrapper {
    position: relative;
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 1px solid white;
    overflow: hidden;
    margin: 5px 0;
}

.socials-icon-wrapper__icon {
    float: right;
    margin: 0 0 0 5px;
}

.BDC_CaptchaImageDiv ~ a {
    opacity: 0;
}

.footer_link {
    margin: 0 10px;
}




/********************************
            NEWS
********************************/
.news_item {
    font-size: 1.1rem;
}

.news_item__ref {
    text-decoration: none;
    color: inherit;
}

.news_item__ref:hover {
    text-decoration: none;
    color: #0000FF;
}

.news_item__header {
    font-weight: bold;
    margin: 5px 0 0 0;
}

.news_item__brief {
    line-height: 1.3rem;
    height: 2.6rem;
    overflow: hidden;
    margin: 0 0 10px 0;
}

/********************************
			www.amcharts.com GRAPHICS (me)
********************************/

.amcharts-chart-div tspan {

}

/********************************
            DASHBOARD CHAT
********************************/

.chat-locales {
    float: right;
    margin: 10px;
    font-size: 14px;
}

#chat .chat_message > p {
    max-width: inherit;
    text-overflow: clip;
    word-break: normal;
}

.chat_message .message_time {
    margin: 0 10px;
}

.chat_message > button {
    display: none;
}

.chat_message:hover > button {
    display: inherit;
}

/********************************
           STATEMENT
********************************/
.mystatement__table tr:nth-child(3) td {
    border-bottom-width: 10px;
    background: #969faf;
    color: #fff;
}

.source-type-button {
    cursor: pointer;
    color: #fff;
    background: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    padding: 0 10px;
}

/********************************
           ORDER-INFO-MODAL
********************************/

#order-info-modal button {
    height: 25px;
    padding: 0;
}

#order-info-modal .modal-dialog {
    width: 410px;
}

#order-info-modal .input-block-wrapper {
    margin: 5px 0 0 0;
}

#order-info-modal .input-block-wrapper__label {
    line-height: 2.5rem;
    height: 2.5rem;
}

#order-info-modal .input-block-wrapper__input-wrapper {
    line-height: 2.5rem;
    height: 2.5rem;
}

#order-info-modal .input-block-wrapper__input {
    line-height: 2.5rem;
    height: 2.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

/********************************
           SETTINGS (me)
********************************/

.settings-upload-files {
    font-size: 1.3rem;
    margin: 5px;
}

/********************************
           SEARCH (me)
********************************/

.table-header-wrapper {
    display: inline-block;
    width: 100%
}


.table-filter__wrapper {
    float: right;
    padding: 11px 0 0 0;
}

.table-filter__input {
    display: inline-block;
    background: transparent;
    width: 58px;
    height: 20px;
    padding: 0 0 0 3px;
    border: 1px solid rgb(218, 218, 218);
    outline: none;;
}

/*mCustomScrollbar container props*/
.mCSB_container_wrapper > .mCSB_container {
    padding-right: 5px;
}

.mCSB_container_wrapper {
    margin-right: 5px;
}
.mCSB_scrollTools {
    width: 8px;
    margin-top: 2px;
}

#mCSB2_container {
    margin-right: 5px;
}

/*ADMIN SIDEBAR MENU*/

.sidebar {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding-top: 60px;
}
.sidebar ul {
    list-style: none;
    padding-left: 0;
}

/* The navigation menu links */
.sidebar a {
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 14px;
    /*color: #818181;*/
    display: block;
}

#finMenu a {
    font-size: 12px;
}

.ref-lvl-table, #order-info-table tr {
    cursor:pointer;
}

.ref-lvl-table th, .ref-lvl-table td {
    padding: 10px 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.ref-button {
    display: inline !important;
}

.ref-reference {
    padding-left: 10px;
}

.edit-ref-lvl-modal {
    max-height: 250px !important;
}


.admin-container {
    padding-top: 30px;
}

.admin-form-input,
.blue-box.admin-form-submit {
    width: 100%;
}
#edit-cmn-ref-root .admin-form-input,
.blue-box.admin-form-submit {
    margin: 10px 0px;
}
.admin-submit-group {
    margin-top: 15px;
}

/****************************************
			9. Modal Change Referral System
****************************************/

.modal-small {
    max-width: 400px;
    max-height: 400px;
    background-size: cover;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 10px;
}

.modal-small .modal-header {
    /*    color: rgba(255, 255, 255, .5);
        border-bottom: solid 1px rgba(255, 255, 255, .25);*/
    padding: 5px 15px;
}

.modal-small .modal-dialog
{
    width: 100%;
    margin: 10px auto 0 auto;
}

.modal-small .modal-content {
    background: #e2ebf9;
}

.modal-small .content form input{
    display: block;
    width: 75%;
    border: none;
    color: #621609;
    margin: 10px 0;
    padding: 0 10px;
    line-height: 2em;
    outline: 0;
}

.form_full_height_width .input-block-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 5px 0;
}

#transaction-search-form .input-block-wrapper{
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 5px 0;
}

/*COMPANY WALLET*/

.my_wallets .content > div > div.currency {
    display: block;
    background: rgba(82, 95, 116, 0.25);
    overflow: auto;
    padding: 5px 20px;
}

.my_wallets .content .block {
    overflow: auto;
    margin-bottom: 20px;
}

.my_wallets .content p.margin_top {

    display: inline-block;
    margin-top: 15px;
}

.my_wallets .info-item-title {
    border-bottom: 1px solid rgba(82, 95, 116, 0.5);
}

#withdrawalTable th, #withdrawalTable td,
#withdrawalTable td button {
    text-align: center;
}


.delete-order-info__modal {
    max-width: 520px;
    overflow: hidden;
    margin: auto;
    margin-top: 100px;
    padding: 0 10px;
    bottom: inherit;
}

.delete-order-info__modal .modal-header {
    padding: 5px 15px;
}

.delete-order-info__modal .modal-dialog {
    width: 100%;
    margin: 10px auto 0 auto;
}

.delete-order-info__modal .content {
    max-width: 360px;
}

.delete-order-info__item {
    display: inline-block;
    margin:  0 10px 0 0;
}

.delete-order-info__item span{
    margin: 0 0 0 5px;
}

.legal_content {
    font-size: 1.4em;
    margin-top: 20px;
    text-align: justify;
}
.legal_content h5, .legal_content h6 {
    font-size: 1.2em;
}


.legal_content p, .legal_content h5 {
    margin-top: 15px;
}
.form_full_width .input-block-wrapper {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: 5px 0;
}

.form_auto_height .input-block-wrapper__input-wrapper {
    overflow: hidden;
    height: auto;
}

.textarea.non-resize {
    resize: none;
}

.full-width {
    width: 100%;
}

input[type=email], .dropdown-menu__form,
.input-block-wrapper__label-wrapper, #captchaCode, .BDC_CaptchaDiv,
#merchantList, #amcharts-stock_chart_div, .graphInfo, #termsContent {
    direction: ltr !important;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 33%;
}
.checkbox-grid li span {
    margin-left: 5px;
}


#transaction-filter {
    margin: 10px 0;
}


#min-sum-notification {
    display: none; width: auto; font-size: 14px
}

.trading-current-balance {
    font-size: 1.1em;
    font-weight: 400;
    color: #337ab7
}

#currency-limits-table tr:hover,
#external-wallets-table tr:hover,
#commissions-table tr:hover,
#merchant-commissions-table tr:hover {
    cursor: pointer;
}
#register_button, #login_button, #userOperationSubmitButton {
    background: #525f74;
}

#register_button, #login_button:disabled, #submit-accept:disabled, #submit-btc:disabled, #userOperationSubmitButton:disabled {
    background: #b9c4d8;
}

.noty_header {
    margin-bottom: 10px;
}

#noty_topCenter_layout_container {
    margin-top: 250px !important;
}

#walletsTable tbody tr:hover {
    cursor: pointer;
}

#news-add-modal .modal-dialog {
    width: 800px;
}

#news-add-modal .nav.nav-pills > li > a {
    color: #525f74;
}
#news-add-modal .nav.nav-pills > li > a:hover {
    color: #FFFFFF;
}
#news-add-modal .nav.nav-pills > li.active > a {
    background-color: #525f74;
    color: #FFFFFF;
}

#imageUpload {
    display: none;
}

#all_news_table_wrapper {
    height: 500px;
    overflow: hidden;
    display: block;
}

#all_news_table td {
    font-size: 1.2rem;
}

#archive_news_table_wrapper {
    height: 500px;
    overflow: hidden;
    display: block;
}

#notification-icon {
    position: relative;
}


#notification-icon span.badge {
    position: absolute;
    right: 0;
    top: 5px;
    background-color: #ff0000;
}

#notification-icon .dropdown-menu {
    width: 350px;
    position: absolute;
    left: -300px;
    z-index: 999;
    padding: 5px;
}
#notifications-header {
    display: block;
    height: 25px;
    background-color: #FFF;
    color: #525f74;
}


#notifications-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#notifications-header li a {
    display: block;
    margin: 0 5px;
}



#notifications-body-wrapper {
    display: block;
    padding: 3px 5px;
    max-height: 300px;
    background-color: #FFF;
    color: #525f74;
    overflow: hidden;
}

.notification-item {
    margin-bottom: 5px;
    border: 1px solid rgba(209, 229, 249, 1);
    border-radius: 5px;
    padding: 5px;
}

.notification-item p {
    margin-bottom: 0;
}

.notification-item.unread {
    background-color: rgba(209, 229, 249, 0.5);
}
.notification-item.unread:hover {
    background-color: rgba(209, 229, 249, 0.8);
    cursor: pointer;
}
.notification-title {
    color: #525f74;
    margin: 0;
    font-weight: 700;
}

.notification-item.read {
    background-color: inherit;
}

.notification-message {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.notification-time, .notif-remove {
    font-size: 1rem;
}
#notifications-body-wrapper .mCSB_container {
    margin-right: 10px;
}
.current-time {
    width: 100%;
    display: inline-block;
    color: #337ab7;
    margin: 10px 0;
    font-size: 1.6rem;
}

#current-datetime {
    float: right;
}

#commissionsMenu button {
    width: 250px;
}

#authoritiesTable {
    background-color: #FFF;
}
#authoritiesTable td {
    font-size: 1.5rem;
}

#user-authoritiesTable {
    background-color: #FFF;
}
#user-authoritiesTable td {
    font-size: 1.5rem;
}

#manualBalanceChangeForm .form-item {
    display: inline-block;
    margin: 5px 10px;
    width: 30%;
}

.white-box {
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #000000;
    margin: 100px 10px;
}

#access-denied-img {
    height: 85px;
    width: 85px;
    margin: 10px 20px 0 0;
    vertical-align: middle;
}

#access-denied-title {
    font-size: 3rem;
    margin-top: 20px;
    vertical-align: middle;
}

.access-denied-header {
    margin-bottom: 20px;
}

.access-denied-header + p {
    font-size: 2rem;
    margin-bottom: 30px;
}

#error-message-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    vertical-align: middle;
}

#error-redirect-button {
    margin-bottom: 15px;
}

#merchant-options-table td {
    text-align: center;
    font-size: 1.5rem;
}

#merchant-options-table i:hover {
    cursor: pointer;
}

.noMerchants {
    font-size: 1.5rem;
}

.right-to-left {
    direction: rtl !important;
}

#transferButton {
    margin-bottom: 10px;
}

textarea#remark {
    height: 150px;
}
.black-border {
    border: 1px solid #000000;
}

#creditsOperationInfo table tr td:first-child {
    width: 250px;
}

#invoiceInfoTable tr td:first-child {
    width: 200px;
}

.ui-dialog[aria-describedby="clearFormDialog"] {
    z-index: 5000;
}

.inout-warning {
    color: #cf0800;
    font-size: 1.4rem;
}

.timeoutWarning {
    color: #cf0800;
    font-size: 1.2rem;
}

.dark_blue_area {
    padding: 5px;
    color: #FFFFFF;
    background-color: #525f74;
    float: right;
    text-align: center;
    font-size: 0.9rem;
}

#btc-wallet-buttons {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.credits-operation-info__item {
    font-size: 15px;
    line-height: 25px;
}

.credits-operation-info__item>div:nth-child(2) {
    font-weight: bold;
}
.credits-operation-info__item:nth-child(odd) {
    /*background: rgba(128, 128, 128, 0.25);*/
}

.fail-enter {
    border: 2px solid red !important;
}

.address-copy{
    margin-left: 15px;
    width: 60px;
    height: 20px;
    color: black;
    padding: 0;
}

.stop {
    margin-bottom: 14.3px;
}

#surveyContainer .panel-footer input{
    margin-top: 20px;
}

#no-address p {
    font-size: 1.5rem;
}

#order-filter-selector {
    height: 70px
}


#order-filter-selector > div {
    height: 100%;
}

#order-filter-selector > div:first-child span {
    vertical-align: middle;
    font-size: 1.5rem;
    color: #525f74;
}

.blue-switch .onoffswitch-inner:before {
    background-color: #525f74;
}

#roles-table i, .text-1_5 {
    font-size: 1.5rem;
}

#roles-table i:hover,
#launch-settings-table i:hover{
    cursor:pointer;
}

@media (max-width: 1500px) {
    #order-filter-selector {
        height: 70px;
    }
}

@media (min-width: 1500px) {
    #order-filter-selector {
        height: 50px;
    }

}

input.copyable:hover{
    cursor:pointer;
}

#generate-address, #copy-address, #refill-address {
    margin: 10px 0;
}

#report-emails-table td {
    font-size: 1.4rem;
}

.delete-email:hover, #mailing-status-indicator:hover {
    cursor: pointer;

}

.fa.fa-caret-down {
    margin-left: 5px;
}

#report-emails-table thead th, #report-emails-table thead td {
    padding-top: 0;
}

#subtract-fee-from-amount:hover{
    cursor:pointer;
}

#subtract-fee-from-amount {
    font-size: 1.5rem;
}

.download-btn {
    margin-bottom: 20px;
}

#btc-prepare-raw-modal .modal-body {
    font-size: 1.5rem;
}

#btc-prepare-raw-modal .modal-body div {
    margin: 15px 5px;
}

#exclude-zero-balances-container {
    font-size: 1.3rem;
    margin: 10px 0;
}

#user-settings-menu > li.active > a {
    background-color: #434e60;

}

#btcResultInfoTable td:first-child {
    word-break: break-all;
    width: 350px;
}

.apidoc_methods_container {
    margin-left: 4%;
}
.apidoc_table td{
    font-size: 1.3rem;
}
.apidoc_table td:first-child {
    width: 150px;
    padding-right: 10px;
}

#tokens-table-wrapper, #generate-button-wrapper {
    margin: 20px 5px;
}

#api-tokens-table i {
    font-size: 1.8rem;
    margin: 0 5px;
}

.method-group-title {
    font-size: 2rem;
    margin: 30px 0;
}

#api-method-doc {
    background-color: #ffffff;
    padding: 0 20px;
}

.word-wrap-break-work{
    width: 100%;
    word-wrap: break-word;
}

.img-table{
    width: 100%;
}

.partners-img{
    margin-top: 15px;
    margin-left: 3%;
    margin-right: 3%;
    border:0;
    max-width: 90%;
    max-height: 90%;
}

.img-container {
    pointer-events: none;
}